a img{
border:none;
}

.gallery-wrapper
{
width:480px;
height:360px;
margin:0px auto 0px auto;
border: 0px solid #fff;
margin-left:1.5%;
position:relative;
}  
.gallery-mask
{
width:480px;
height:360px;
overflow:hidden;
}  

.rightbtn-inner{
/*background-image:url("left_arrow.png");*/
background-repeat:no-repeat;
position:absolute;
width:25px;
height:50px;
top:165px;
right:0px;
margin:0px auto 0 auto;
background:#000;
background-position:0px 0px; 
opacity:0.8; 
border-bottom-left-radius: 4em;
border-top-left-radius: 4em;
}

.leftbtn-inner{
/*background-image:url("left_arrow.png");*/
background-repeat:no-repeat;
position:absolute;
width:25px;
height:50px;
top:165px;
left:0px;
margin:0px auto 0px auto;
background:#000;
background-position:0px 0px; 
opacity:0.8; 
border-bottom-right-radius: 4em;
border-top-right-radius: 4em;
}
.gallery-ul{
list-style-type:none;
height:360px;
width:auto;
}

.gallery-li
{
float:left;
height:360px;
width:480px;
position: relative; 

}

.gallery-imag
{
height:360px;
width:480px;
width:auto;
min-width:100%;
position: relative; 
}

h2 { 
   position: absolute; 
   top: 300px; 
   left:150px; 
   width: 1200px; 
}
h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.3);
   padding: 10px; 
}